# File di sistema
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# File di sviluppo
.vscode/
.idea/
*.swp
*.swo

# File temporanei
*.log
*.tmp
*.temp
temp/
tmp/

# Database vettoriali
dbv_*/

# File di documentazione
README.md
LICENSE 